<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    dc ch lh ab li zk zl bq bbe
    <br/>
    hello thymeleaf !!!
    <br/>

<!--    取值-->
    <p th:text="${hello}">dc ch lh ab li zk zl bq bbe</p>


    <script type="text/javascript">
        
        function switchSkuId() {
            var skuSaleAttrValueJson
        }
        
    </script>

</body>
</html>






















